<!-- Title System -->
<% phc_title "Plugin: Article Category Manager" %>
<% phc_title_tagline "Category Index" %>
<% phc_breadcrumb_one yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Content -->
<div class="panel panel-inverse">
	<div class="panel-heading">
		<div class="panel-heading-btn">
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
			<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		</div>
		<h4 class="panel-title"><%= yield(:phc_title_tagline) %></h4>
	</div>
	<div class="panel-body">
		<!-- Table - Category Index -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover dataTables-example">
				<thead>
					<tr>
						<th>Category Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @modules_categories.each do |modules_category| %>
						<tr>
							<td><%= link_to modules_category.catname, phcpress.edit_modules_category_path(modules_category) %></td>
							<td><%= link_to 'Trash', modules_category, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<!-- Table - Category Index -->
	</div>
</div>
<!-- Page Content -->
