<!-- Main Content -->
<div class="panel panel-primary">

	<div class="panel-heading">
		<i class="fa fa-pencil-square-o"></i> Edit Blog Post
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

</div>
