<!-- Title System -->
<% phc_title "Article Manager" %>
<% phc_title_tagline "Create a New Article" %>
<% phc_breadcrumb_one link_to "Article Index", phcpress.article_posts_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Content -->
<div class="wrapper wrapper-content animated fadeInRight">
	<%= render 'form', article_post: @article_post %>
</div>
<!-- Page Content -->
