<% @blog_posts.each do |blog_post| %>
	<div class="row">
		<div class="col-lg-12">
			<article>
				<!-- Title -->
				<h1><%= blog_post.blogpsttitle %></h1>

				<!-- Author (Next Release)
				<p class="lead">
					by <a href="#">Authour</a>
				</p>
				 -->

				<!-- Date -->
				<hr>
				<p>
					<span class="fa fa-calendar"></span> Posted on <%= blog_post.created_at %>
				</p>
				<hr>
				<p class="lead"><%= blog_post.blogpstexcerpts %></p>
				<p><%= blog_post.blogpsttext %></p>
			</article>
		</div>
	</div>
<% end %>
