<!-- Start Main Content -->
<div class="row">
	<!-- Start Blog Post Content Column -->
	<div class="col-lg-8">
		<% @blog_posts.each do |blog_post| %>
			<article>
				<td><%= blog_post.blogpsttitle %></td>
				<td><%= blog_post.blogpsttext %></td>
				<td><%= blog_post.pststatus %></td>
			</article>
		<% end %>
	</div>
	<!-- End Blog Post Content Column -->
</div>
<!-- End Main Content -->
