<!-- Start Main Content -->
<div class="row">
	<!-- Start Blog Post Content Column -->
	<div class="col-lg-8">
		<% @news_posts.each do |news_post| %>
			<article>
				<td><%= news_post.newspsttitle %></td>
				<td><%= news_post.newspsttext %></td>
				<td><%= news_post.pststatus %></td>
			</article>
		<% end %>
	</div>
	<!-- End Blog Post Content Column -->
</div>
<!-- End Main Content -->
