<!DOCTYPE html>
<html>
	<head>

		<title>PHCPress SSO - Blog & News Engine</title>

		<%= stylesheet_link_tag    "phcpress/application", media: "all" %>
		<%= javascript_include_tag "phcpress/application" %>
		<%= csrf_meta_tags %>

	</head>

	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>

</html>
