<!DOCTYPE html>
<html>

	<head>

		<title>PHCPress - Rails CMS Engine</title>

		<%= stylesheet_link_tag    "phcpress/application", media: "all" %>
		<%= javascript_include_tag "phcpress/application" %>
		<%= csrf_meta_tags %>

	</head>

	<body class="hold-transition skin-blue sidebar-mini">

		<!-- Page Content -->
		<div class="content-wrapper">
			<%= yield %>
		</div>
		<!-- Page Content -->

	</body>

</html>
