<p id="notice"><%= notice %></p>

<p>
  <strong>Pststatus:</strong>
  <%= @postprocess_status.pststatus %>
</p>

<%= link_to 'Edit', edit_postprocess_status_path(@postprocess_status) %> |
<%= link_to 'Back', postprocess_statuses_path %>
