<div class="pull-right hidden-xs">
	<b>Version</b> 4.2.7 - OCT-27-<%= Date.today.year %>  
</div>
<strong>&copy; 2012-<%= Time.now.year %> <%= link_to "https://phcnetworks.net", target: "_blank", rel: "nofollow" do %>PHCNetworks<% end %></strong>
