<div class="pull-right hidden-xs">
	<b>Version</b> v<%= Gem.loaded_specs["phcpress"].version.to_s %> - AUG-22-<%= Date.today.year %>
</div>
<strong>&copy; 2012-<%= Time.now.year %> <%= link_to "https://phcnetworks.net", target: "_blank", rel: "nofollow" do %>PHCNetworks<% end %></strong>
