<!-- Title System -->
<% phc_title "PHCNetworks Blog" %>
<% phc_title_tagline "News & Information" %>
<!-- Title System -->

<!-- Page Header -->
<section class="page-header dark page-header-xs">
<div class="container">
<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
</div>
</section>
<!-- Page Header -->

<!-- Page Content -->
<section>
<div class="container">
<div class="row">

<!-- Left Sidebar -->
<div class="col-md-3 col-sm-3">
</div>
<!-- Left Sidebar -->

<!-- Blog List -->
<div class="col-md-9 col-sm-9">
<% @phcpress_frontend_article_index.psttitle %>


</div>
<!-- Blog List -->

</div>
</div>
<section>
<!-- Page Content -->
