<!-- Main Content -->
<div class="panel panel-primary">

	<div class="panel-heading">
		<i class="fa fa-list-ul"></i> New Category
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

</div>
